body {
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif !important;
}

.section__content a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none !important;
    font-weight: 700 !important;
    color: inherit;
}

.experience__company {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none !important;
    font-weight: 700 !important;
    color: inherit;
}

body.night {
    color: #afafbf !important;
}

footer.night {
    background-color: #171c28 !important;
    color: #afafbf !important;
}

.night {
    background-color: #171c28 !important;
    color: #e7e7e7 !important;
}

.night .navbar-light .navbar-nav .nav-link, body.night strong, body.night a{
    color: #e7e7e7 !important;
}

.home-section {
    position: relative;
    z-index: -1;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 30px!important;
    padding-top: 30px!important;
}

.home-content {
    padding: 9rem 0 2rem!important;
    text-align: left;
}

.home-header {
    padding-top: 7em !important;
}

.heading {
    font-size: 2.4em!important;
    padding-left: 50px!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.heading-name {
    font-size: 2.5em!important;
    padding-left: 45px!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.heading-contact {
    padding-left: 50px!important;
    margin-top: 10em !important
}

.heading-contact * {
    display: inline-block;
}

.emoji-pointer {
    font-size: 1.5em;
    position: relative;
    bottom: 3px;
}

.main-name {
    color: #5C31EC;
}

.btn-primary {
    background-color: #5C31EC !important;
    border-color: #5C31EC !important;
}
.btn-primary i {
color: #ffffff !important;
}

.form-check-input:checked {
    background-color: #5C31EC !important;
    border-color: #5C31EC !important;
}

.form-check-input:focus {
    border-color: #967cec !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(92, 49, 236, 25%) !important;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23967cec'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.typewrite .wrap {
    font-size: 2.2em!important;
    color: #5C31EC!important;
    font-weight: 700!important;
}

.typewrite .cursor {
    font-size: 2.2em!important;
    color: #5C31EC!important;
    font-weight: 400!important;
    position: relative;
    bottom: 5px;
    margin-left: 1px;
    animation: Typewriter-cursor 1s infinite;
}

@keyframes Typewriter-cursor {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

.contact-pre {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 1.25rem;
}

.highlight-link {
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #5C31EC;
    box-shadow: inset 0 -3px 0 #5C31EC;
    color: inherit;
}

.highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #5C31EC;
    box-shadow: inset 0 -33px 0 0 #5C31EC;
    color: #fff;
}

#home {
    z-index: 0;
}

.section__title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #5C31EC;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
}

.section__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 700px;
}

.section__content .underline-link {
    position: relative;
    display: inline-block;
}

.section__content .underline-link:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #36363c;
    content: '';
    opacity: 0;
    -webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
    transition: height .3s,opacity .3s,-webkit-transform .3s;
    transition: height .3s,opacity .3s,transform .3s;
    transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.night .section__content .underline-link:after  {
    background: #ffffff;
}

.section__content .underline-link:focus:after, .section__content .underline-link:hover:after {
    height: 2px;
    border-radius: 3px;
    opacity: 1;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

#about {
    margin-top: 20em;
}

strong {
    font-weight: 700;
}

.section__content .underline-link {
    position: relative;
    display: inline-block;
}

.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 100px 145px;
}

.skills-list {
    list-style-type: none; 
    padding-left: 0;
}

.project__used__item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata,monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #5C31EC;
    border: 1px solid #5C31EC;
    background: 0 0;
}

.fa-arrow-right {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 700;
    display: inline-block;
    color: #5C31EC;
    white-space: nowrap;
    margin-left: 5px;
}

.fas .fa-arrow-right .inactive-arrow {
    color: #b3afbf;
}

.arrow-link:hover > .fas .fa-arrow-right .inactive-arrow {
}

.arrow-link:hover > .fa-arrow-right {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    bottom: 2px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

footer a {
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .section {
        justify-content:center;
        display: block;
    }
    
    .section__title {
        text-align: left;
        width: auto;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 1280px) {
    .section {
        padding: 100px;
    }

    .section__title {
        text-align: left;
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 50px;
    }

    .section__title {
        text-align: left;
        width: auto;
    }
}

@media screen and (max-width: 768px){
    .section {
        display: block;
    }

    .section__title {
        text-align: left;
        width: auto;
    }

    #about {
        margin-top: 5em;
    }

    .home-content {
        padding: 1em 0 2rem!important;
        text-align: left;
    }

    .home-header {
        padding-top: 4em !important;
    }
    .typewrite .wrap {
        font-size: 1.4em!important;
    }

    .heading-name {
        margin-top: 1.4em !important;
        font-size: 1.4em!important;
    }

    .heading {
        font-size: 2em!important;
        padding-left: 50px!important;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .heading-contact {
        margin-top: 2.4em !important;
    }
    
    .form-switch {
        padding-top: .4em;
    }
    
}


@media screen and (max-width: 480px){
    .section {
        padding: 50px 35px;
    }
    .section__title {
        text-align: left;
        width: auto;
    }
}
